/*
 * Copyright (c) 2024 Golioth, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,entropy = &rng;
		nordic,pm-ext-flash = &gd25q16;
	};

	aliases {
		golioth-led = &led1;
		user-btn = &button0;
	};
};

&uart0 {
	status = "okay";
};
